body{
font-family:Arial;
margin:0;
background:#f2f5f9;
}


header{
background:#075985;
color:white;
padding:30px;
text-align:center;
}


section{
padding:20px;
}


.job{
background:white;
padding:20px;
margin:15px;
border-radius:10px;
}


button{
background:#16a34a;
color:white;
padding:10px;
border:0;
border-radius:5px;
}


footer{
background:#222;
color:white;
padding:20px;
text-align:center;
}
